/* .titles h2{
    margin: 0px 0px 15px 0px;
} */

.contact {
    display: flex;
    justify-content: space-between;
}

.contact section {
    width: 100%;
}

.data p {
    font-size: 14px;
}

.data ul {
    padding: 0;
    list-style: none;
    font-size: 13px;
    margin-bottom: 5px;
}

.data ul li {
    margin-bottom: 5px;
}

.data ul li a {
    margin-left: 8px;
}

.icon {
    color: #104C8F;
}

.form p {
    display: flex;
}

.form p label {
    min-width: 100px;
    display: flex;
    align-items: center;
}

.form p:nth-child(4) {
    align-items: flex-start;
    /* Para ubicar 'Mensaje' en la parte inicial del text area. */
}

.form p input,
.form p textarea {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px;
}

.form textarea {
    resize: none;
    height: 150px;
}

.form input[type="submit"] {
    background-color: #4c76a5;
    box-shadow: 0 0 10px gray;
    color: white;
    font-size: 16px;
    width: 365px;
    margin-left: 100px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #23384f;
}

.data {
    margin-left: 50px;
}