section {
    margin-left: 50px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact section {
    width: 100%;
}

.data p {
    font-size: 14px;
}

.data ul {
    padding: 0;
    list-style: none;
    font-size: 13px;
    margin-bottom: 5px;
}

.data ul li {
    margin-bottom: 5px;
}

.data ul li a {
    margin-left: 8px;
    color: #6b6b6b;
}

.data ul li a:hover {
    color: #3b3b3b;
}

.icon {
    color: #41403d;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    margin-right: 15px;
    margin-top: 8px;
}

.form p {
    display: flex;
}

.form p label {
    min-width: 100px;
    display: flex;
    align-items: center;
}

.form p:nth-child(4) {
    align-items: flex-start;
}

.form p input,
.form p textarea {
    width: 100%;
    background-color: lightgray;
    
    border-radius: 5px;
    border: 5px ridge #deddd5;
    font-size: 14px;
    padding: 6px;
}

.form textarea {
    resize: none;
    height: 150px;
}

.form input[type="submit"] {
    background-color: #676761;
    box-shadow: 0 0 10px gray;
    border: 5px ridge #b9b7ac;
    color: white;
    font-size: 20px;
    font-family: 'Pinyon Script', cursive;
    width: 365px;
    margin-left: 200px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #404138;
}