.gallery {
    max-width: 960px;
    margin: 0 auto 30px;
  }

h1 {
  margin-top: 0;
  padding-top: 30px;
}

.heavenorhell {
  height: 800px;
  background-image: url(/public/images/heavenorhell/Background.png);
  background-size: cover;
  margin-bottom: 30px;
}

.angels {
  width: 300px;
  position: absolute;
  left: 830px;
  bottom: 320px;
}

.riddles {
  width: 900px;
  display: flex;
/*   background-color: azure; */
  justify-content: space-between;
  margin-top: 150px;
}

.riddle {
  height: 250px;
}

.petdiv {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pet {
  position: absolute;
  width: 200px;
  top: 765px;
  filter: invert(90%) brightness(80%);
}

.cage {
  position: absolute;
  width: 200px;
  bottom: -240px;
  right: 650px;
}

.sparkle {
  position: absolute;
  width: 200px;
  top: 720px;
  filter: grayscale(100%);
}

.counter01 {
  bottom: 125px;
  left: 350px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
}

.more01 {
  bottom: 70px;
  left: 400px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.less01 {
  bottom: 70px;
  left: 295px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.counter02 {
  bottom: 125px;
  left: 585px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
}

.more02 {
  bottom: 70px;
  left: 635px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.less02 {
  bottom: 70px;
  left: 530px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.counter03 {
  bottom: 125px;
  left: 820px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
}

.more03 {
  bottom: 70px;
  left: 870px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.less03 {
  bottom: 70px;
  left: 765px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.counter04 {
  bottom: 125px;
  left: 1055px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
}

.more04 {
  bottom: 70px;
  left: 1105px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.less04 {
  bottom: 70px;
  left: 1000px;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}